{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <br>
    <div class="container text-center">
      <h1 style="font-family: 'Rubik Vinyl'; font-size: 50px" class="text-black">Книга рецептов</h1>
    </div>
    <div class="mb-1 border-bottom border-2 border-dark">
      <h2 class="fw-bold p-3" id = "title">Рецепты</h2>
    </div>
    <div class="container text-center">
      <div class="row">
        {% for recipe in recipes %}
          {% if recipe.status == "PB" %}
          <div class="col-4 mb-3">
            <div class="shadow sm p-2 border border-opacity-50 rounded-bottom">
                  <div class="mb-auto p-2">
                      <p id = "title" ><strong>{{ recipe.title }}</strong></p>
                      <img src ="{{ recipe.image.url }}" class="img-fluid rounded-3" width="300px" height="200px">
                  </div>
                  <div class="p-2">
                      <p class="text-start">{{ recipe.description }}    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, rerum!</p>
                  </div>
                  <div class="p-2">
                      <p class="text-start">{{ recipe.cooking_steps }}     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus est facere iste qui ratione rem rerum similique sint veritatis? Alias, animi delectus distinctio, dolorem doloribus ducimus itaque minus necessitatibus perferendis provident, quasi soluta totam voluptatibus! Cumque dolor eligendi id iste minima mollitia recusandae totam ut? Consequatur distinctio laudantium maxime modi qui quod. Asperiores at aut corporis cumque cupiditate dolor, dolorum error esse eveniet facere fugiat fugit id inventore ipsum laborum modi mollitia neque nobis quaerat qui, quibusdam quod recusandae sequi sint soluta vel voluptate. Ad autem delectus dignissimos dolores dolorum ducimus, enim esse eveniet, itaque nulla tempora ullam, vitae voluptas?</p>
                  </div>
              </div>
          </div>
          {% endif %}
        {% endfor%}
      </div>
    </div>
    <div class="d-flex " style="height: 200px;">
      <div class="vr"></div>
    </div>

{% endblock content %}